@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://lh3.googleusercontent.com/_zE-kE1bzpCvodJYoQzzJ4eD3NF7M9oxhqVq9y2XECi3RTWHdSgPfUnZhpfj3aC69JQSVL-lgBa_gu1uEKtvXXalkR_kVK0cyU0ImrZu9_7TO2z0XX1gY6Xk1lhv1CAXyuQ3p4V_VQYEoP9I-vmMRMa38ry7gBcj7jmHrxR629aLF26nI1y0QwnK7hvzXQM9PoZ7tQ8vlyvZdjS8NuDk20IoBc8h2vLPXMf7LZZ9idBPLUiyZry25QRceSqtJJ21u9fZlH0J0PtyiSZiS5EgMX8tS6nkVfo-c2O9Mu5P8wgjC63YnL2Oz9xCspPY27tFruYdj5FEngB4-YxRL-AS8fIaPqbpqfjyMWDNRXlew38a_PEwFF3z9TgPiAUXNVzzVedg_XFmxNgK4wYynPVnLiJXZfOaQWtimVs1LEQtCS6lfVayL2o8aMay01emBKWZA0bxsW1VDAObL3JYirCm4gqWC27zGrJTQd9-IvlhzUVzMGQY7IXzgWb2_9XwMqQlEJ9ini3lRm4vvRPmWDf0ObDfB5Blt96Xm73l_cVk4BxjxpbK3vErfq6Rc1_DWP7HxaNQ986Y8-tPp8SgkSGo-J7yic5e2zk5HyREvsl03Bkax0czMeLQykmumeqG2JptTiLzlaKr5E8dDjSm7QWPZG20YxyOSF64yUrT2OO79hgS06Zysa-M45mXZLEkW0vG9Zqcir8CEY-Q_uFFOqK3PO-JOVyf0Cmj-gOhuCCEbQhtG_HX8joRXpDh3icDEKzbS69Jc_zqNSrWLjomZA=w108-h72-no") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:rgb(216, 14, 128);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #B00B69;
    border-bottom:12px solid rgb(216, 14, 128);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rgb(216, 14, 128);
}
.box2 {
    background:rgb(216, 14, 128);
    margin-left:-5px;
}

.coc {
  background-color: #B00B69;
  border: none;
  border-radius:50%;
  color: 660066;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
}

.coc {border-radius: 14px;}


#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#B00B69;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#B00B69;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgb(216, 14, 128);
    font-size:50px;
    text-decoration:underline;
}

#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:top;
}



.social1 {
    color:#3b5998;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social1:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}
.social2 {
    color:#00acee;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social2:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}
.social3 {
    color:#5865F2;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social3:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}
.social4 {
    color:#ff4500;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social4:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}
.social5 {
    color:red;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social5:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}
.social6 {
    color:#fafafa;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social6:hover { 
    cursor: pointer;
    color:rgb(216, 14, 128);
}











.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background:rgb(255, 50, 50);
    color:#00000;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.container div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 0px;
}
#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fff;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:60px;
    text-decoration:underline;
}
.container p {
    font-size:21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:rgb(216, 14, 128);
    background:#fff;
}
.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(216, 14, 128);
    background:#fff;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    padding:8px 60px;
}
.container form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(216, 14, 128, 0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(216, 14, 128,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form input:focus {
    outline:none;
    border-bottom:3px solid rgba(216, 14, 128, 1);
}
.container form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(216, 14, 128, 1);
}
::placeholder {
    color:#fff;
}
#footer {
    color:#B00B69;
    width:92vw;
    padding:5vh 4vw;
    text-align:center;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    color:rgb(216, 14, 128) ;
}
#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: rgb(216, 14, 128); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(216, 14, 128, 0.8); 
}
::selection {
	color: #fff;
	background: rgb(216, 14, 128);
}

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
    #footer {
        text-align:center;
    }
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle table {
        width:80%;
    }
    .container form input {
        width:90%;
    }
    .container form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}